<ng-container *ngIf="selectedUser; else noUser">
    <table>
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>ABOUT</th>
        </tr>
        <tr>
            <td>{{selectedUser.id}}</td>
            <td>{{selectedUser.username}}</td>
            <td>{{selectedUser.firstName}}</td>
            <td>{{selectedUser.lastName}}</td>
            <td>{{selectedUser.aboutMe}}</td>
        </tr>
    </table>
    <button routerLink="">Back to the homepage!</button>
</ng-container>
<ng-template #noUser>
    <app-not-found></app-not-found>
</ng-template>